.portfolio-container {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 35px;
  color: #657eff;
  text-align: center;
}
h2 {
  padding: 3em 0 2em 0;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #deddff;
}

img {
  width: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 3em;
}
